.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 50%;
  max-width: 90%;
  height: 25vh;
  z-index: 20;
  position: fixed;
  left: 25%;
  border-radius: 8px;
}