.modal {
  background-color: #e9eceb;
  width: 50rem;
  max-width: 90%;
  z-index: 20;
  position: fixed;
  left: 5%;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .modal {
    left: 50%;
    margin-left: -25rem;
  }
}