.history__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.history__list-turn {
  list-style: none;
}

.history__item--black {
  font-weight: bold;
}