.history__list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  list-style-position: inside;
}

.history__list-turn {
  margin: 0 1rem 0 0;
  padding: 0;
  flex: 1 1 20%;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
}

.history__item--black {
  font-weight: bold;
}