.button {
  font: inherit;
  padding: .5rem;
  cursor: pointer;
  border: 1px solid #e9eceb;
  background-color: #111418;
  color: #e9eceb;
}

.button:active,
.button:hover {
  background-color: #34A4E5;
}

