.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: .5rem;
}

.form-control input {
  width: 100%;
  font: inherit;
  border: none;
  border-bottom: 2px solid #556477;
  background: #F4F6F5;
  padding: .15rem .25rem;
}

.save-game-form textarea {
  font: inherit;
  resize: none;
  width: 100%;
  background: #F4F6F5;
  border: 1px solid #556477;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  border-color: #34A4E5;
}

.form-control--invalid label,
.form-control--invalid p {
  color: #f44336;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: #f44336;
  background-color: #FBB6B1;
}