.gamelist__default-text {
  text-align: center;
  color: #e9eceb;
}

.gamelist {
  background-color: #e9eceb;
  border-radius: 8px;
  width: 90%;
  margin: auto;
}

.gamelist ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

@media (min-width: 768px) {
  .gamelist {
    width: 50rem;
    max-width: 50%;
  }
}