.chessboard__square {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.chessboard__square--white {
  background: #e9eceb;
}

.chessboard__square--black {
  background-color: #556477;
}

.chessboard__square--white-active {
  background: linear-gradient(
    rgba(52, 164, 229, .5),
      rgba(52, 164, 229, .5)
    ),
    linear-gradient(#e9eceb, #e9eceb);
}

.chessboard__square--black-active {
  background: linear-gradient(
      rgba(52, 164, 229, 0.5),
      rgba(52, 164, 229, 0.5)
    ),
    linear-gradient(#556477, #556477);
}

.chessboard__square-drag {
  background-color: red;
}
