.promotion-modal {
  padding: 1rem;
}

.pawn-promotion-form {
  width: 100%;
}

.pawn-promotion-form__label {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: .5rem;
}

.pawn-promotion-form__options {
  display: block;
  margin: auto;
  cursor: pointer;
  font: inherit;
}

.promotion-modal button {
  display: block;
  margin: .5rem auto;
}