.save-game-form {
    width: 100%;
    padding: .5rem 1rem;
}

.save-game-form label {
    font-weight: bold;
}

.save-game-form__radio-inputs {
    display: flex;
    justify-content: space-around;
}

[type="radio"] {
    accent-color: #34A4E5;
}

.save-game-form__actions {
    display: flex;
    justify-content: space-around;
}