.chessboard__square {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.chessboard__square--white {
  background: #EBEBEB;
}

.chessboard__square--black {
  background-color: #5D5874;
}

.chessboard__square--white-active {
  background: linear-gradient(
    rgba(219, 84, 97, .5),
      rgba(219, 84, 97, .5)
    ),
    linear-gradient(rgb(199, 213, 159), rgb(199, 213, 159));
}

.chessboard__square--black-active {
  background: linear-gradient(
      rgba(219, 84, 97, 0.5),
      rgba(219, 84, 97, 0.5)
    ),
    linear-gradient(rgb(101, 116, 58), rgb(101, 116, 58));
}
