/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Shippori+Mincho+B1&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lora', serif;
}

body {
  margin: 0;
  background-color: #111418;
  font-size: 120%;
}

.first-color {
  background: #111418;
}

.second-color {
  background: #e9eceb;
}

.third-color {
  background: #e17e66;
}

.fourth-color {
  background: #34A4E5;
}

.fifth-color {
  background: #FF859D;
}

.sixth-color {
  background: #E9353E;
}