@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'PT Sans', sans-serif;
}

body {
  margin: 0;
  background-color: #EBEBEB;
}

.first-color { 
	background: #EBEBEB; 
}
	
.second-color { 
	background: #BEBBBB; 
}

.third-color { 
	background: #0a0a0a; 
}

.fourth-color { 
	background: #2F243A; 
}

.fifth-color {
  background: #0a0a0a;
}

.sixth-color {
  background: #5D5874;
}
