.gamelist__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.gamelist__item-info {
  width: 70%;
}

.gamelist__item-info h4 {
  text-align: center;
}

.gamelist__item-info h4,
.gamelist__item-info p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.gamelist__item-author {
  font-style: italic;
  color: rgb(163, 157, 157);
}

.gamelist__item-actions {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  width: 30%;
}

.gamelist__item-actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.gamelist__button-view {
  background-color: #e17e66;
}

.gamelist__button-view:hover,
.gamelist__button-view:focus {
  background-color: #e48d77;
}

.gamelist__button-edit {
  background-color: #34a4e5;
}

.gamelist__button-edit:hover,
.gamelist__button-edit:focus {
  background-color: #4aaee8;
}

.gamelist__button-delete {
  background-color: #e9353e;
}

.gamelist__button-delete:hover,
.gamelist__button-delete:focus {
  background-color: #eb4750;
}

.gamelist hr {
  width: 85%;
}

.delete-modal {
  padding: 1rem;
}

.delete-modal h2 {
  margin: 0;
  text-align: center;
}

.delete-modal p {
  text-align: center;
}

.delete-modal__actions {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .gamelist__item-actions {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .gamelist__item-actions button {
    margin-left: 0.25rem;
    margin-bottom: 0;
  }
}
