.gamelist__item {
  width: 100%;
  padding: 1rem .5rem;
}

.gamelist__item h3 {
  text-align: center;
  margin: 0;
}

.gamelist__item hr {
  width: 85%;
}

.gamelist__item h4 {
  margin: 0;
}

.gamelist__item p {
  margin: .5rem 0;
}

.gamelist__item-author {
  font-style: italic;
  font-size: 80%;
  text-align: right;
}

.gamelist__item button {
  width: 20%;
  margin-left: 80%;
}