.chessboard__piece {
  height: 100%;
  width: 100%;
  z-index: 5;
}

.chessboard__piece img {
  height: 100%;
  width: 100%;
}

.chessboard__piece img:hover {
  cursor: grab;
}

.drag {
  position: absolute;
  /* transform: translate(-50%, -50%); */
}