.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  font-size: 120%;
  text-decoration: none;
  border: 2px solid #111418;
  padding: .5rem;
  background-color: #e17e66;
  color: #111418;
}

.nav-links a:hover,
.nav-links a:active {
  border: 5px solid #FF859D;
  background-color: #e9eceb;
  box-shadow: 10px 10px #34A4E5;
}

.nav-links a.active {
 text-decoration: 3px #34A4E5 underline;

}

.nav-links button {
}

.nav-links button:focus {
}

.nav-links button:active,
.nav-links button:hover {
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0 0 1rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links a:hover,
  .nav-links a:active,
  .nav-links a.active {
    color: yellow;
    text-decoration: underline;
  }

  .nav-links button {
  }

  .nav-links button:hover,
  .nav-links button:active {
  }
}
