.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 2rem;
}

.nav-links a {
  
  text-decoration: none;
 
  padding: .5rem;
  background-color: transparent;
  color: #111418;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
 text-decoration: 3px #34A4E5 underline;
}

.nav-links button {
  padding: .5rem;
  font: inherit;
  cursor: pointer;
  background-color: #191e24;
  border: none;
  color: #e9eceb;
  border-radius: 10px;
}

.nav-links button:active,
.nav-links button:hover {
  text-decoration: 3px #34a4e5 underline;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0 0 1rem;
  }

  .nav-links a {
    color: #e9eceb;
    text-decoration: none;
    border: none;
  }
}
