.promotion-modal {
  padding: 1rem;
  top: 25%;
}

.promotion-modal h2 {
  margin: 0 0 .5rem 0;
  text-align: center;
}

.promotion__options {
  display: flex;
  justify-content: space-around;
}

.promotion__options button {
  cursor: pointer;
  width: 20%;
  background-color: #e9eceb;
  border: 3px solid #e17e66;
}

.promotion__options button:hover,
.promotion__options button:focus {
  border-width: 1px;
  background-color: #34a4e5bb;
}

.promotion__options img {
  width: 100%;
  height: 100%;
}